html {
    width: 100%;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    background-color: black;
}

header img {
    height: 50px;
    float: left;
    margin: 9.5px 10px;
}

header ul {
    display: inline-block;
    float: right;
    margin: 23.5px 10px;
}

header ul li {
    margin-left: 20px;
    display: inline-block;
    text-decoration: underline;
}

main::before {
    display: block;
    height: 70px;
    content: ' ';
}

#banner {
    height: 700px;
    width: 1200px;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
    margin: 0 auto 70px;
}

#banner-text {
    height: auto;
    font-weight: bold;
    background-color: black;
}

#banner::before, #banner::after {
    display: block;
    content: ' ';
    height: 303px;
}

#banner-text > * {
    padding: 10px 0;
}

#banner-text h2 {
    font-size: 32px;
}