html {
    width: 100%;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
}

header img {
    height: 50px;
    float: left;
    margin: 9.5px 10px;
}

header ul {
    display: inline-block;
    float: right;
    margin: 23.5px 10px;
}

header ul li {
    margin-left: 20px;
    display: inline-block;
    text-decoration: underline;
}